<div class="edit-profile-container">
  <h2>Edit Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit-profile-form" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label_html: { class: "form-label" } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="confirmation-notice">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "Leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "We need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :full_name,
                  required: true,
                  label_html: { class: "form-label" },
                  input_html: { autofocus: true, autocomplete: "name" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update Profile", class: "submit-button" %>
    </div>
  <% end %>


 <div class="cancel-account">
  <h3>Cancel My Account</h3>
  <%= button_to "Cancel My Account", registration_path(resource_name),
                data: { confirm: "Are you sure you want to cancel your account?", turbo_confirm: "Are you sure you want to cancel your account?" },
                method: :delete,
                class: "cancel-button" %>
</div>


  <%= link_to "Back", :back, class: "back-link" %>
</div>
