<h2 class="form-title">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'signup-form' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'form-input' } %>
    <div class="error-message">
      <%= f.error :email %>
    </div>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: 'form-input' } %>
    <div class="error-message">
      <%= f.error :password %>
    </div>

    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: 'form-input' } %>
    <div class="error-message">
      <%= f.error :password_confirmation %>
    </div>
  </div>

  <div class="field">
    <%= f.label :full_name, class: 'form-label' %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "name", class: 'form-input' %>
    <div class="error-message">
      <%= f.error :full_name %>
    </div>
  </div>

  <!-- Uncomment to allow credit field -->
  <!--
  <div class="field">
    <%= f.label :credit, class: 'form-label' %><br />
    <%= f.number_field :credit, value: 0.0, step: 0.01, class: 'form-input' %>
    <div class="error-message">
      <%= f.error :credit %>
    </div>
  </div>
  -->

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'signup-button' %>
  </div>
  <%= render "devise/shared/links" %>

<% end %>
